.git
.github
.vscode
.devcontainer
_output
_tests
_temp
_artifacts
node_modules
*.zip
*.tar.gz
*.deb
*.rpm
*.pkg
*.exe
*.msi
distribution/macOS
distribution/windows
distribution/debian
distribution/docker-build
docker/tests
docs.sh
test.sh
**/bin
**/obj
**/.DS_Store
